@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Roboto&family=Space+Mono:wght@700&family=Work+Sans&display=swap");

:root {
  /* Primary */
  --Strong-Cyan: hsl(172, 67%, 45%);

  /* Neutral */
  --Very-Dark-Grayish-Cyan: hsl(183, 100%, 15%);
  --Dark-Grayish-Cyan: hsl(186, 14%, 43%);
  --Grayish-Cyan: hsl(184, 14%, 56%);
  --Light-Grayish-Cyan: hsl(185, 41%, 84%);
  --Very-Light-Grayish-Cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);

  /* Font */
  --Font-Size: 24px;
  --Font-Weight: 700;
  --Font-Family: "Space Mono", monospace;
}

* {
  margin: 0;
  padding: 0;

  font-family: var(--Font-Family);
}

body {
  background-color: var(--Light-Grayish-Cyan);
  min-height: 100vh;

  display: grid;
  place-content: center;
}

.main-container {
  display: inline-flex;
  align-items: center;

  background-color: var(--White);
  padding: 40px;
}

h1 {
  color: var(--Very-Dark-Grayish-Cyan);
  text-align: center;

  position: relative;
  bottom: 60px;
}

.bill-input {
  text-align: right;
  height: 40px;
  width: 400px;
  outline: none;
  border-style: none;

  background-color: transparent;
  border-radius: 8px;
}

.bill-input::-webkit-outer-spin-button,
.bill-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bill-input {
  -moz-appearance: textfield; /* Firefox */
}

.tip-container {
  margin-right: 20px;
}

.tip-container > * {
  margin-bottom: 40px;
}

.selector-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selector-container > * {
  width: 100px;
  height: 50px;

  margin: 5px;

  outline: none;
  border-style: none;

  background-color: var(--Very-Dark-Grayish-Cyan);
  border-radius: 8px;
  color: var(--White);
  font-weight: var(--Font-Weight);
  font-size: 20px;
}

.tip-input {
  background-color: var(--Very-Light-Grayish-Cyan);
  text-align: center;
}

.tip-input::placeholder {
  color: var(--Very-Dark-Grayish-Cyan);
}

.container-1 p {
  color: var(--Grayish-Cyan);
  display: flex;
  align-items: center;
}

.user-input p {
  font-size: var(--Font-Size);
}

.user-input {
  border-radius: 8px;
  background-color: var(--Very-Light-Grayish-Cyan);
  display: flex;
  align-items: center;
}

.user-input img {
  position: relative;
  left: 20px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.container-2 {
  max-width: 400px;
}

input[type=number] {
  margin-right: 20px;
  color: var(--Very-Dark-Grayish-Cyan);
  font-size: var(--Font-Size);
}

input[type=text] {
  color: var(--Very-Dark-Grayish-Cyan);
  font-size: var(--Font-Size);
}

input[type=text]::placeholder {
  color: var(--Grayish-Cyan);
}

.container-2 p {
  color: var(--Grayish-Cyan);
}

ul {
  list-style: none;
  display: grid;

  width: 100%;
}

.price-container {
  background-color: var(--Very-Dark-Grayish-Cyan);
  height: 342px;
  width: 434px;

  display: grid;
  place-content: center;
}

.float-right {
  float: right;
}

.price-container-1 {
  display: inline-flex;
}

.result {
  font-size: 40px;
  color: var(--Strong-Cyan);
}

.reset-button {
  outline: none;
  border-radius: 8px;
  border-style: none;

  height: 40px;
  background-color: var(--Strong-Cyan);
  font-size: var(--Font-Size);
  color: var(--Very-Dark-Grayish-Cyan);

  position: relative;
  top: 40px;
}

.text-1 {
  color: var(--White);
}

.text-2 {
  color: var(--Grayish-Cyan);
}