@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Roboto&family=Space+Mono:wght@700&family=Work+Sans&display=swap');

:root {
  /* Colors */
  /* Primary */
  --Strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */

  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);

  /* Weights */
  --Font-Weight: 700;
  --Font-Size-Form-Inputs: 24px;
}

* {
    font-family: Space Mono;
}

body {
    background-color: var(--Light-grayish-cyan);
}

main {
    min-height: 100vh;
    display: grid;
    place-content: center;
    overflow-x: hidden;
}

h1 {
    color: var(--Very-dark-cyan);
}

.main-container {
    background-color: var(--White);
}

.result-container {
    background-color: var(--Very-dark-cyan);
}

.input-1-color {
    background-color: var(--Very-light-grayish-cyan);
    color: var(--Very-dark-cyan);
}

.input-2-color {
    background-color: var(--Very-dark-cyan);
    color: var(--White);
}

.input-3-color {
    background-color: var(--Dark-grayish-cyan);
    color: var(--Very-dark-cyan);
}

.price {
    color: var(--Strong-cyan);
}

.text-style-1 {
    color: var(--Dark-grayish-cyan);
}

.text-style-2 {
    color: var(--Dark-grayish-cyan);
}

.hover-effect-1 {
    transition: background-color, color 250ms ease;
}

.hover-effect-1:hover {
    cursor: pointer;
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.active-effect-1 {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}